body {
  background-color: whitesmoke;
  font-family: "montserrat", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

#mailForm {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.allFormInputs {
  font-size: 16px;
  border-color: white;
  border: none;
  margin: auto;
  outline: none;
  border-radius: 10px;
  padding: 3.5%;
  margin-top: 3%;
  width: 100%;
}

#nameInput {
  margin: auto;
}

#genderSelect {
  cursor: pointer;
}

#submitButton {
  background-color: #232123;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

#submitButton:hover {
  color: #232123;
  background-color: white;
  border-color: #232123;
}

#submitButton:active {
  background-color: #232123;
  color: white;
}

.formError {
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

.formSuccess {
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  color: green;
  font-weight: 700;
  text-transform: uppercase;
}

.inputError {
  box-shadow: 0 0 5px red;
}
